* text=auto eol=lf
*.png binary
*.jpg binary
*.glb binary
*.blend binary
*.wav binary
*.ogg binary
*.exe binary
*.hdr binary
*.exr binary
*.bin binary
data/routes/kerala_coast/station-register.csv -text whitespace=cr-at-eol
